services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    Mpp\UniversignBundle\Controller\CallbackController:
        tags: ['controller.service_arguments']

    Mpp\UniversignBundle\Requester\Signer:
        arguments:
            - '@logger'
            - '@router'
            - '%mpp_universign.entrypoint%'
            - '%mpp_universign.options%'
            - '%mpp_universign.client_options%'

    Mpp\UniversignBundle\Requester\RegistrationAuthority:
        arguments:
            - '@logger'
            - '@router'
            - '%mpp_universign.entrypoint%'
            - '%mpp_universign.client_options%'

    Mpp\UniversignBundle\Requester\SignerInterface: '@Mpp\UniversignBundle\Requester\Signer'
    Mpp\UniversignBundle\Requester\RegistrationAuthorityInterface: '@Mpp\UniversignBundle\Requester\RegistrationAuthority'